services:
  kafka:
    image: confluentinc/cp-kafka:7.8.3
    container_name: kafka
    ports:
      - "9092:9092"

    environment:
      KAFKA_KRAFT_MODE: 'true'

      CLUSTER_ID: '1L6g7nGhU-eAKfL--X25wo'
      KAFKA_NODE_ID: 1

      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER

      KAFKA_LOG_DIRS: /tmp/kraft-combined-logs

    healthcheck:
      test: ["CMD", "kafka-topics", "--bootstrap-server", "localhost:9092", "--list"]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 30s

    volumes:
      - kafka_kraft:/var/lib/kafka/data

  mongo:
    image: mongo:7.0
    container_name: mongo
    ports: 
      - "27017:27017"
    healthcheck:
      test: ["CMD","mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 10s
      retries: 5
      
  redis:
    image: redis
    container_name: redis
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
  api:
    build: ./api 
    container_name: api 
    ports:
    - "8000:8000"
    environment:
      KAFKA: "kafka:9092"
      REDIS_HOST: "redis"
      REDIS_PORT: "6379"
      MONGO_HOST: "mongo"
      MONGO_PORT: "27017"
      MONGO_DATABASE: "pizza_db"
      MONGO_COLLECTION: "orders"
    depends_on:
      mongo:
        condition: service_healthy
      kafka:
        condition: service_healthy
      redis:
        condition: service_healthy

  kitchen:
    build: ./kitchen
    container_name: kitchen
    environment:
      KAFKA: "kafka:9092"
      REDIS_HOST: "redis"
      REDIS_PORT: "6379"
      MONGO_HOST: "mongo"
      MONGO_PORT: "27017"
      MONGO_DATABASE: "pizza_db"
      MONGO_COLLECTION: "orders"
    depends_on:
      mongo:
        condition: service_healthy
      kafka:
        condition: service_healthy
      redis:
        condition: service_healthy
  text:
    build: ./text
    container_name: text 
    environment:
      KAFKA: "kafka:9092"
      MONGO_HOST: "mongo"
      MONGO_PORT: "27017"
      MONGO_DATABASE: "pizza_db"
      MONGO_COLLECTION: "orders"
    depends_on:
      mongo:
        condition: service_healthy
      kafka:
        condition: service_healthy
      redis:
        condition: service_healthy
  enricher:
    build: ./enricher
    container_name: enricher
    environment:
      KAFKA: "kafka:9092"
      REDIS_HOST: "redis"
      REDIS_PORT: "6379"
      MONGO_HOST: "mongo"
      MONGO_PORT: "27017"
      MONGO_DATABASE: "pizza_db"
      MONGO_COLLECTION: "orders"
    depends_on:
      mongo:
        condition: service_healthy
      kafka:
        condition: service_healthy
      redis:
        condition: service_healthy


volumes:
  kafka_kraft:

      
     
