apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
      - name: api
        image: moshe5434/api-pizza:v1
        ports:
        - containerPort: 8000
        env:
        - name: KAFKA
          value: "kafka:9092"
        - name: REDIS_HOST
          value: "redis"
        - name: REDIS_PORT
          value: "6379"
        - name: MONGO_HOST
          value: "mongo"
        - name: MONGO_PORT
          value: "27017"
        - name: MONGO_DATABASE
          value: "pizza_db"
        - name: MONGO_COLLECTION
          value: "orders"
---
apiVersion: v1
kind: Service
metadata:
  name: api
spec:
  type:  ClusterIP
  ports:
  - port: 8000
    targetPort: 8000
  selector:
    app: api